.MuiInputBase-root { /*datatime*/
  height: 40px;
}

.MuiAutocomplete-inputRoot {  /*celelalte*/
  height: 40px;
}

/*incident number*/

.textField-root {
  width: 300px;
}

.textField-input {
  height: 40px; 
  padding: 10px; 
}
