/* .app_name {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
  } */
  /* .app_name{
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;
  } */
  /* .app_name {
    font-family: "Bungee Shade", sans-serif;
    font-weight: 400;
    font-style: normal;
  } */
  .app_name {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  